<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="box box-info box-solid">
          <div class="box-header">
            <h3 class="box-title">
              <i class="fas fa-file-powerpoint"></i> Users List
            </h3>

            <div class="box-tools">
              <div class="input-group-btn">
                <button class="btn btn-success btn-sm mb-1" @click="openModel">
                  <i class="fas fa-plus fa-fw"></i>
                  Add New Post
                </button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>published Date</th>
                <th>Created By</th>
                <th>Actions</th>
              </tr>
              <tr v-for="post in posts" :key="post.id">
                <td>S.N</td>
                <td>{{ post.title | upText }}</td>
                <td>{{ post.published_date }}</td>
                <td>{{ post.descriptions | upText }}</td>
                <td>{{ post.published_date | myDate }}</td>
                <td>
                  <a @click="editPost(post)" class="btn btn-primary btn-sm" title="Edit Post">
                    <i class="fas fa-file-powerpoint 2x"></i>
                  </a>
                  <a
                    @click="deleteUser(post.id)"
                    class="btn btn-warning btn-sm"
                    title="Delete Post"
                  >
                    <i class="fas fa-trash 2x"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.content -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="createNewPost"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createNewPostLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editMode" id="createNewPostLabel">Add New Post</h5>
            <h5 class="modal-title" v-show="editMode" id="createNewPostLabel">Update Post</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editMode ? updatePost() : createPost()">
            <div class="modal-body">
              <div class="form-group">
                <label>Title</label>
                <input
                  v-model="form.title"
                  type="text"
                  name="title"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('title') }"
                />
                <has-error :form="form" field="title"></has-error>
              </div>

              <div class="form-group">
                <label>Choose Date</label>
                <input
                  v-model="form.published_date"
                  type="published_date"
                  name="published_date"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('published_date') }"
                />
                <has-error :form="form" field="published_date"></has-error>
              </div>

              <div class="form-group">
                <label>Type Post Descriptions</label>
                <textarea
                  v-model="form.descriptions"
                  type="text"
                  name="descriptions"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('descriptions') }"
                ></textarea>
                <has-error :form="form" field="descriptions"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
              <button type="submit" v-show="editMode" class="btn btn-success btn-sm">Save</button>
              <button type="submit" v-show="!editMode" class="btn btn-primary btn-sm">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { setInterval } from "timers";
export default {
  data() {
    return {
      editMode: false,
      posts: {},
      form: new Form({
        id: "",
        title: "",
        published_date: "",
        user_id: "",
        descriptions: ""
      })
    };
  },
  methods: {
    updatePost() {
      this.$Progress.start();
      this.form
        .put("api/post/" + this.form.id)
        .then(() => {
          $("#createNewPost").modal("hide");
          Swal.fire(
            "Updated!",
            "Information Has been successfully saved.",
            "success"
          );
          Fire.$emit("AfterPostCreated");
          this.$Progress.finish();
        })
        .catch(error => {
          console.log(error);
          this.$Progress.fail();
        });
    },
    editPost(post) {
      this.editMode = true;
      this.form.reset();
      $("#createNewPost").modal("show");
      this.form.fill(post);
    },
    openModel() {
      this.editMode = false;
      this.form.reset();
      $("#createNewPost").modal("show");
    },
    loadPosts() {
      axios.get("api/post").then(({ data }) => (this.posts = data.data));
    },
    createPost() {
      this.$Progress.start();
      this.form
        .post("/api/post")
        .then(() => {
          Fire.$emit("AfterPostCreated");
          $("#createNewPost").modal("hide");
          Toast.fire({
            type: "success",
            title: "New User Created successfully"
          });
          this.$Progress.finish();
        })
        .catch(error => console.log(error));
    },
    deleteUser(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.form
            .delete("api/post/" + id)
            .then(() => {
              Swal.fire("Deleted!", "Your file has been deleted.", "success");
              Fire.$emit("AfterPostCreated");
            })
            .catch(error => {
              Swal.fire("Sorry!", "Try Again.", "error");
            });
        }
      });
    }
  },
  created() {
    this.loadPosts();
    Fire.$on("AfterPostCreated", () => {
      this.loadPosts();
    });
  }
};
</script>
