<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Profile Component</div>

          <div class="card-body">
            <!-- widget starts -->
            <div class="box box-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div
                class="widget-user-header"
                style="background: url('./img/back-cover.jpg') center center;"
              >
                <h3 class="widget-user-username">Elizabeth Pierce</h3>
                <h5 class="widget-user-desc">Web Designer</h5>
              </div>
              <div class="widget-user-image">
                <img class="img-circle" :src="getProfilePicture()" alt="User Avatar">
              </div>
              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">SALES</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">FOLLOWERS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">PRODUCTS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.widget-user -->
            <!-- profile form -->
            <div class="box box-primary">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                  >Home</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                  >Profile</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="setting-tab"
                    data-toggle="tab"
                    href="#setting"
                    role="tab"
                    aria-controls="setting"
                    aria-selected="false"
                  >Settings</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >Thbis is the home</div>
                <div
                  class="tab-pane fade"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >Thei is hte profile</div>
                <div
                  class="tab-pane fade"
                  id="setting"
                  role="tabpanel"
                  aria-labelledby="setting-tab"
                >
                  <form class="form-horizontal" style="padding:20px;">
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Name</label>

                      <div class="col-sm-10">
                        <input
                          type="text"
                          name="name"
                          class="form-control form-control-sm"
                          id="inputName"
                          v-model="form.name"
                          placeholder="Name"
                          require
                        >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                      <div class="col-sm-10">
                        <input
                          type="email"
                          name="email"
                          v-model="form.email"
                          class="form-control form-control-sm"
                          id="inputEmail"
                          placeholder="Email"
                          :class="{'is-invalid':form.errors.has('email')}"
                        >
                        <has-error :form="form" field="email"></has-error>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input
                          type="password"
                          class="form-control form-control-sm"
                          v-model="form.password"
                          id="inputPassword"
                          name="password"
                          placeholder="Password"
                          :class="{'is-invalid':form.errors.has('password')}"
                        >
                        <has-error :form="form" field="password"></has-error>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputBio" class="col-sm-2 control-label">Experience</label>

                      <div class="col-sm-10">
                        <textarea
                          class="form-control"
                          name="bio"
                          v-model="form.bio"
                          id="inputBio"
                          placeholder="Explain Yourself"
                          :class="{'is-invalid':form.errors.has('bio')}"
                        ></textarea>
                        <has-error :form="form" field="bio"></has-error>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputFile" class="col-sm-4 control-label">Choose Profile Picture</label>
                      <div class="col-sm-8">
                        <input type="file" name="photo" v-on:change="onImageChange">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button
                          type="submit"
                          @click.prevent="updateInfo"
                          class="btn btn-success btn-sm mb-2"
                        >Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- profile ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: new Form({
        id: "",
        name: "",
        email: "",
        password: "",
        type: "",
        bio: "",
        photo: "",
        inputRules: [
          v => v.length >= 3 || "Name should contain atleat 3 characters"
        ]
      })
    };
  },
  methods: {
    getProfilePicture() {
      let photo =
        this.form.photo.length > 100
          ? this.form.photo
          : "img/profile/" + this.form.photo;
      return photo;
    },
    updateInfo() {
      this.$Progress.start();
      if (this.form.password == "") this.form.password = "undefined";
      this.form
        .put("api/profile")
        .then(() => {
          Fire.$emit("AfterUserCreated");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    onImageChange(e) {
      this.$Progress.start();
      let file = e.target.files[0];
      let reader = new FileReader();
      if (file["size"] <= 211775) {
        reader.onloadend = file => {
          this.form.photo = reader.result;
          this.$Progress.finish();
        };
        reader.readAsDataURL(file);
      } else {
        this.$Progress.fail();
        Swal.fire(
          "Sorry!",
          "File Size should not be greater then 2MB",
          "error"
        );
      }
    }
  },
  mounted() {},
  created() {
    axios.get("api/profile").then(({ data }) => this.form.fill(data));
  }
};
</script>
