<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="box box-info box-solid">
          <div class="box-header">
            <h3 class="box-title">
              <i class="fas fa-dot-circle"></i> Roles
            </h3>

            <div class="box-tools">
              <div class="input-group-btn">
                <button class="btn btn-success btn-sm mb-1" @click="openModel">
                  <i class="fas fa-user-plus fa-fw"></i>
                  Add Role
                </button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
              <tr v-for="role in roles" :key="role.id">
                <td>S.N</td>
                <td>{{ role.role_name | upText}}</td>
                <td>{{ role.created_at | myDate}}</td>
                <td>
                  <a @click="editRole(role)" class="btn btn-primary btn-sm" title="Edit Role">
                    <i class="fas fa-user-edit 2x"></i>
                  </a>
                  <a
                    @click="deleteRole(role.id)"
                    class="btn btn-warning btn-sm"
                    title="Delete Role"
                  >
                    <i class="fas fa-trash 2x"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.content -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="createNewRole"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createNewRoleLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editMode" id="createNewRoleLabel">Add New Role</h5>
            <h5 class="modal-title" v-show="editMode" id="createNewRoleLabel">Update Role</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editMode ? updateRole() : createRole()">
            <div class="modal-body">
              <div class="form-group">
                <label>Role Name</label>
                <input
                  v-model="form.role_name"
                  type="text"
                  name="role_name"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('role_name') }"
                />
                <has-error :form="form" field="role_name"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
              <button type="submit" v-show="editMode" class="btn btn-success btn-sm">Save</button>
              <button type="submit" v-show="!editMode" class="btn btn-primary btn-sm">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { setInterval } from "timers";
export default {
  data() {
    return {
      editMode: false,
      roles: {},
      form: new Form({
        id: "",
        role_name: ""
      })
    };
  },
  methods: {
    updateRole() {
      this.$Progress.start();
      this.form
        .put("api/role/" + this.form.id)
        .then(() => {
          $("#createNewRole").modal("hide");
          Swal.fire(
            "Updated!",
            "Information Has been successfully saved.",
            "success"
          );
          Fire.$emit("afterRoleCreated");
          this.$Progress.finish();
        })
        .catch(error => {
          console.log(error);
          this.$Progress.fail();
        });
    },
    editRole(role) {
      this.editMode = true;
      this.form.reset();
      $("#createNewRole").modal("show");
      this.form.fill(role);
    },
    openModel() {
      this.editMode = false;
      this.form.reset();
      $("#createNewRole").modal("show");
    },
    loadRole() {
      axios.get("api/role").then(({ data }) => (this.roles = data.data));
    },
    createRole() {
      this.$Progress.start();
      this.form
        .post("/api/role")
        .then(() => {
          Fire.$emit("afterRoleCreated");
          $("#createNewRole").modal("hide");
          Toast.fire({
            type: "success",
            title: "Role Created successfully"
          });
          this.$Progress.finish();
        })
        .catch(error => console.log(error));
    },
    deleteRole(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.form
            .delete("api/role/" + id)
            .then(() => {
              Swal.fire("Deleted!", "Your file has been deleted.", "success");
              Fire.$emit("afterRoleCreated");
            })
            .catch(error => {
              Swal.fire("Sorry!", "Try Again.", "error");
            });
        }
      });
    }
  },
  created() {
    this.loadRole();
    Fire.$on("afterRoleCreated", () => {
      this.loadRole();
    });
  }
};
</script>
