<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="box box-info box-solid">
          <div class="box-header">
            <h3 class="box-title">
              <i class="fas fa-users"></i> Users List
            </h3>

            <div class="box-tools">
              <div class="input-group-btn">
                <button class="btn btn-success btn-sm mb-1" @click="openModel">
                  <i class="fas fa-user-plus fa-fw"></i>
                  Add User
                </button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>
              <tr v-for="user in users" :key="user.id">
                <td>S.N</td>
                <td>{{user.name | upText}}</td>
                <td>{{user.email}}</td>
                <td>{{user.type | upText}}</td>
                <td>{{ user.created_at | myDate}}</td>
                <td>
                  <a @click="editUser(user)" class="btn btn-primary btn-sm" title="Edit User">
                    <i class="fas fa-user-edit 2x"></i>
                  </a>
                  <a
                    @click="deleteUser(user.id)"
                    class="btn btn-warning btn-sm"
                    title="Delete User"
                  >
                    <i class="fas fa-trash 2x"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.content -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="createNewUser"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createNewUserLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editMode" id="createNewUserLabel">Add New User</h5>
            <h5 class="modal-title" v-show="editMode" id="createNewUserLabel">Update User</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editMode ? updateUser() : createUser()">
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input
                  v-model="form.name"
                  type="text"
                  name="name"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                >
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <label>Email</label>
                <input
                  v-model="form.email"
                  type="email"
                  name="email"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('email') }"
                >
                <has-error :form="form" field="email"></has-error>
              </div>

              <div class="form-group">
                <label>Type Yourself</label>
                <textarea
                  v-model="form.bio"
                  type="text"
                  name="bio"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('bio') }"
                ></textarea>
                <has-error :form="form" field="bio"></has-error>
              </div>

              <div class="form-group">
                <label>Type Yourself</label>
                <select
                  v-model="form.type"
                  name="type"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('type') }"
                >
                  <option value="admin">Admin</option>
                  <option value="user">Standerd User</option>
                </select>
                <has-error :form="form" field="type"></has-error>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  v-model="form.password"
                  type="password"
                  name="password"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': form.errors.has('password') }"
                >
                <has-error :form="form" field="password"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
              <button type="submit" v-show="editMode" class="btn btn-success btn-sm">Save</button>
              <button type="submit" v-show="!editMode" class="btn btn-primary btn-sm">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { setInterval } from "timers";
export default {
  data() {
    return {
      editMode: false,
      users: {},
      form: new Form({
        id: "",
        name: "",
        email: "",
        password: "",
        photo: "",
        type: "",
        bio: ""
      })
    };
  },
  methods: {
    updateUser() {
      this.$Progress.start();
      this.form
        .put("api/user/" + this.form.id)
        .then(() => {
          $("#createNewUser").modal("hide");
          Swal.fire(
            "Updated!",
            "Information Has been successfully saved.",
            "success"
          );
          Fire.$emit("AfterUserCreated");
          this.$Progress.finish();
        })
        .catch(error => {
          console.log(error);
          this.$Progress.fail();
        });
    },
    editUser(user) {
      this.editMode = true;
      this.form.reset();
      $("#createNewUser").modal("show");
      this.form.fill(user);
    },
    openModel() {
      this.editMode = false;
      this.form.reset();
      $("#createNewUser").modal("show");
    },
    loadUsers() {
      axios.get("api/user").then(({ data }) => (this.users = data.data));
    },
    createUser() {
      this.$Progress.start();
      this.form
        .post("/api/user")
        .then(() => {
          Fire.$emit("AfterUserCreated");
          $("#createNewUser").modal("hide");
          Toast.fire({
            type: "success",
            title: "Signed in successfully"
          });
          this.$Progress.finish();
        })
        .catch(error => console.log(error));
    },
    deleteUser(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.form
            .delete("api/user/" + id)
            .then(() => {
              Swal.fire("Deleted!", "Your file has been deleted.", "success");
              Fire.$emit("AfterUserCreated");
            })
            .catch(error => {
              Swal.fire("Sorry!", "Try Again.", "error");
            });
        }
      });
    }
  },
  created() {
    this.loadUsers();
    Fire.$on("AfterUserCreated", () => {
      this.loadUsers();
    });
  }
};
</script>
